[package]
name = "hypersync"
version = "0.7.8"
edition = "2021"

[lib]
name = "hypersync"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.20", features = ["extension-module", "anyhow", "num-bigint"] }
pyo3-asyncio = { version = "0.20", features = ["tokio-runtime"] }
tokio = "1"
dict_derive = "0.5"
serde_json = "1"
serde = { version = "1", features = ["derive"] }
alloy-json-abi = "0.7"
alloy-dyn-abi = "0.7"
alloy-primitives = "0.7"
hypersync-client = "0.10"
anyhow = "1"
polars-arrow = { version = "0.39" }
prefix-hex = "0.7"
env_logger = "0.11"
faster-hex = "0.9"
ruint = "1"
num-bigint = "0.4"
